{{- define "ui-main.fullname" -}}
{{- printf "%s-%s-main" .Release.Name .Chart.Name -}}
{{- end -}}
{{- define "ui-metrics.fullname" -}}
{{- printf "%s-%s-metrics" .Release.Name .Chart.Name -}}
{{- end -}}
